ConfigurationFiles/xsd/DataProcessing/EMGsLabels.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pfx="yourNamespaceURI">
  <xs:complexType name="EMGType">
    <xs:sequence>
      <xs:element name="OutputLabel" type="xs:string"/>
      <xs:element name="C3DLabel" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EMGSetType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="EMG" type="EMGType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMGSet" type="EMGSetType"/>
</xs:schema>
